{% extends "base.html" %}{% block content %}
<div id="content" class="content cf">
    <main id="main" class="main" itemscope="" itemtype="https://schema.org/Blog">
        <form action="." method="post">
            {% csrf_token %}
            <h2>現在登録されているチャットタイプ</h2>
            <table>
                <thead>
                    <tr>
                        <th>select</th>
                        <th>id</th>
                        <th>chat-name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in my_chat_type %}
                    <tr>
                        <td><input type="checkbox" name="check[]" value={{i.id}} checked="checked"></td>
                        <td>{{i.id}}</td>
                        <td>{{i.group_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <h2>公開されているチャットタイプ</h2>
            <table>
                <thead>
                    <tr>
                        <th>select</th>
                        <th>id</th>
                        <th>chat-name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in release_chat_type %}
                    <tr>
                        <td><input type="checkbox" name="check[]" value={{j.id}}></td>
                        <td>{{j.id}}</td>
                        <td>{{j.group_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <details>
                <summary>公開されていないチャットタイプ</summary>
                <table>
                    <tbody>
                        <tr>
                            <td><input type="text" name="no-release-name" placeholder="チャットタイプ名"></td>
                            <td><input type="text" name="no-release-pw" placeholder="パスワード"></td>
                        </tr>
                    </tbody>
                </table>
            </details><br>
            <button type="submit" class="btn btn-outline-success">登録する</button>
        </form>
    </main>
</div>

{% endblock %}