{% extends "base.html" %}{% block content %}
<div id="content" class="content cf">
    <div id="content-in" class="content-in wrap">
        <main id="main" class="main" style="width:90%; margin: 0 auto;" itemscope="" itemtype="https://schema.org/Blog">
            <article id="post-26"
                class="article post-26 post type-post status-publish format-standard hentry category-diary-post"
                itemscope="itemscope" itemprop="blogPost" itemtype="https://schema.org/BlogPosting"
                data-clarity-region="article">
                <form action="." method="post">
                    {% csrf_token %}
                    {{form.user_id.as_hidden}}
                    {{form.chat_type.as_hidden}}
                    {{form.release.as_hidden}}
                    <strong>Title</strong>
                    {{form.title}}
                    <small>text</small>
                    {{form.body}}
                    <div class="field">
                        <div class="contorol">
                            <button class="btn btn-outline-success">修正</button>
                        </div>
                    </div>
                </form>

                <a href="{% url 'delete' data.id %}" rel="noopener" target="_top" class="btn btn-outline-danger">削除</a>
                <a href="{% url 'detail_page' data.id %}" rel="noopener" target="_top" class="btn btn-outline-secondary">戻る</a>


                <div class="publisher" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                        <meta itemprop="width" content="206">
                        <meta itemprop="height" content="60">
                    </div>
                    <div itemprop="name">日記試作</div>
                </div>
                </footer>

            </article>

            <div class="under-entry-content">

                <div id="pager-post-navi" class="pager-post-navi post-navi-default cf">
                </div><!-- /.pager-post-navi -->


            </div>
        </main>

    </div>
</div>
{% endblock %}